body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
}
.header-nav {
}
.header-nav--logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-nav--logo-span {
  color: #2e2f42;
}
.header-nav--list {
}
.header-nav--list-item {
}
.header-nav--list-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-nav--list-link:hover {
  color: #404bbf;
}
.header-nav--list-link:focus {
  color: #404bbf;
}
.header-contact {
  font-style: normal;
}
.header-contact--list {
}
.header-contact--item {
}
.header-contact--link {
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact--link:hover {
  color: #404bbf;
}
.header-contact--link:focus {
  color: #404bbf;
}

.solutions {
  background-color: #2e2f42;
}
.solutions-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.solutions-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.solutions-btn:focus {
  background-color: #404bbf;
}
.solutions-btn:hover {
  background: #404bbf;
}

.advantages {
}
.advantages-title,
.team-title,
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.advantages-list {
}
.advantages-list--item {
}
.advantages-list--title,
.team-list--title,
.portfolio-list--title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-list--text,
.team-list--text,
.portfolio-list--text {
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}
.team-title {
}
.team-list {
}
.team-list--item {
  text-align: center;
  background-color: #ffffff;
}
.team-list--title {
}

.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-list--item {
}
.portfolio-list--title {
}

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo--span {
  color: #f4f4fd;
}
.footer-text {
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
